ETH_PRIVATE_KEYS="eeeee6653cdcacc36e3c400ceeeef2aefd59e2642c2f7f298047eeeeeeeeeeee,9643c732204f2a7c9bdb74e2fa08e36d6a4ae8378b983064848b76318fb6507d" # required list of private keys separated by `,`   
NODE_URL="wss://mainnet.infura.io/v3/ws/xxxxxxxxxxxxx" # required websocket node URL \(e.g [wss://mainnet.infura.io/bbbb](wss://mainnet.infura.io/bbbb) or [wss://localhost:8546](ws://localhost:8546) if own node\)
